{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container security-form">
    <form method="post" class="login-form">
    
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email.</div>
        </div>
        <div class="mb-3">
        <label for="inputPassword" class="form-label">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
